<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcquim.system.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.arcquim.system.android.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcquim.system.android.ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:theme="@style/AppTheme" />
        <activity android:name="com.arcquim.system.android.ProjectActivity" />
        <activity
            android:name="com.arcquim.system.android.ProjectCreationActivity"
            android:label="@string/title_activity_project_creation" />
        <activity android:name="com.arcquim.system.android.HistoryItemActivity" />
        <activity android:name="com.arcquim.system.android.CheckProjectModelActivity" />
        <activity android:name="com.arcquim.system.android.AddAtomicPredicateActivity" />
        <activity android:name="com.arcquim.system.android.CheckPropertyActivity"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
